@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
}
header{
    width: 100%;
}
.headerBar {
    background-color: slategrey;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
}
.headerBar p {
    padding: 50px 50px 70px;
    border-right: 2px black solid;
    border-left: 2px black solid;
}
.headerRPS {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerRPS a {
    text-decoration: none;
    color: rgb(26, 58, 83);
}

.goeshard {
    width: 100%;
    display: block;
    height: 5px;
    margin-left: auto;
    margin-right: auto;

}
.pScore, .cScore {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.headerBar h2 {
    font-size: 45px;
    position: absolute;
    top: 70px;
    padding-bottom: 10px;
}